@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
/* * {
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
  height: 90px;
}

.nav--logo {
  height: 30px;
  margin-right: 7px;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--facts {
  margin-top: 46px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
